{%- capture product_tabs -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'content' -%}
        {%- assign title = block.settings.title -%}
        
        


      

      {%- when 'reviews' -%}
        <div class="Collapsible Collapsible--large" {{ block.shopify_attributes }}>
          <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
            <span>{{ 'product.tabs.reviews' | t }} <span class="text--light">({{ product.metafields.reviews.rating_count.value | default: 0 }})</span></span>
            <span class="Collapsible__Plus"></span>
          </button>

          <div class="Collapsible__Inner">
            <div class="Collapsible__Content">
              <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

 {% for variant in product.variants %}
   <div class="All_description">
  <div class="varaint_des {% if forloop.first %} active {% else %} Hide{% endif %}" data-slide-index="{{ forloop.index0 }}">
   <div class="Product__Tabs">
 {% for data in variant.metafields.accentuate.accordion_heading %}
   {% assign index = forloop.index0 %}

  <div class="Collapsible Collapsible--small" {{ block.shopify_attributes }}>
    <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
      {{- data -}} <span class="Collapsible__Plus"></span>
    </button>
    <div class="Collapsible__Inner">
      <div class="Collapsible__Content">
        <div class="Rte">
          {{- variant.metafields.accentuate.accordion_content[index] -}}
        </div>
      </div>
    </div>
  </div>

          {% endfor %}
</div>

  </div>
  </div>
    {% endfor %}