{% if section.settings.enable == true %}
  <section
    class="Section"
    id="section-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-ingredients">
    <div class="Container product-ingredients-section">
      {% assign productIngredients = product.metafields.custom.product_ingredients_and_digram.value %}
      {% if productIngredients != blank %}
        {% if productIngredients.heading != blank %}
          <div class="section-header SectionHeader">
            <h3 class="heading SectionHeader__Heading Heading">{{ productIngredients.heading }}</h3>
          </div>
        {% endif %}
        <div class="product-ingredients-wrap">
          {% if productIngredients.ingredients_checklist.value != blank %}
            <div class="product-ingredients-grid">
                {% for ingredient in productIngredients.ingredients_checklist.value %}
                    <div class="pi-gi">
                        <span class="tick"><img src="https://cdn.shopify.com/s/files/1/0020/7595/1156/files/Vector_4.png?v=1678701286" loading="lazy"/></span>
                        {{ ingredient }}
                        </div>
                {% endfor %}
            </div>
          {% endif %}
          
          {% if productIngredients.diagram.value != blank %}
          <div class="product-digram-grid">
            <img src="{{ productIngredients.diagram | img_url: 'original' }}" loading="lazy" />
          </div>
         {% endif %}
        </div>
    </div>
  </section>
{% endif %}
{% schema %}
  {
    "name": "Product Ingredients Checklist",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
      }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "Product Ingredients Checklist",
        "settings": {}
      }
    ]
  }
{% endschema %}