{% if section.settings.enable == true %}
  <section
    class="Section"
    id="section-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-videos">
    <div class="product-desc-section">
      {% assign productDesc = product.metafields.custom.product_description.value %}
      {% if productDesc != blank %}
        {% if productDesc.heading != blank %}
          <div class="Container section-header SectionHeader">
            <h3 class="heading SectionHeader__Heading Heading">{{ productDesc.heading }}</h3>
          </div>
        {% endif %}
        <div class="product-desc-wrap">
          <div class="pv-grid">
            {% if productDesc.top_image.value != blank %}
              <div class="pd-grid-item top-image">
                <div class="image-wrap {% if productDesc.top_image_mobile.value != blank %} has-mobile-image{% endif %}">
                  <img
                    class="desktop-only"
                    src="{{ productDesc.top_image.value | img_url: '1920x' }}"
                    loading="lazy" />
                  {% if productDesc.top_image_mobile.value != blank %}
                    <img
                      class="mobile-only"
                      src="{{ productDesc.top_image_mobile.value | img_url: 'original' }}"
                      loading="lazy" />
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if productDesc.left_image.value != blank or productDesc.right_content.value != blank %}
              <div class="pd-grid-item image-text">
                {% if productDesc.left_image.value != blank %}
                  <div class="image-wrap{% if productDesc.left_image_mobile.value != blank %} has-mobile-image{% endif %}">
                    <img
                      class="desktop-only"
                      src="{{ productDesc.left_image.value | img_url: '1280x' }}"
                      loading="lazy" />
                    {% if productDesc.left_image_mobile.value != blank %}
                      <img
                        class="mobile-only"
                        src="{{ productDesc.left_image_mobile.value | img_url: 'original' }}"
                        loading="lazy" />
                    {% endif %}
                  </div>
                {% endif %}
                {% if productDesc.right_content.value != blank %}
                  <div class="content-wrap">
                    {{ productDesc.right_content | metafield_tag }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
{% schema %}
  {
    "name": "Product Description",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "Product Description",
        "settings": {}
      }
    ]
  }
{% endschema %}