{% if section.settings.enable == true %}
  <section
    class="Section"
    id="section-{{ section.id }}"
    data-section-id="{{ section.id }}"
    data-section-type="product-videos">
    <div class="Container product-videos-section">
      {% assign pvData = product.metafields.custom.product_videos.value %}
      {% if pvData != blank %}
        {% if pvData.heading != blank %}
          <div class="section-header SectionHeader">
            <h3 class="heading SectionHeader__Heading Heading">{{ pvData.heading }}</h3>
          </div>
        {% endif %}
        <div class="product-video-wrap">
          <div class="pv-grid">
            {% for i in (0..19) %}
              {% if pvData.video_url.value[i] != blank %}
                <div class="ig-grid-item">
                  <div class="pv-video">
                    <video
                      width="500"
                      height="300"
                      controls>
                      <source src="{{ pvData.video_url.value[i] }}" type="video/mp4">
                      <source src="{{ pvData.video_url.value[i] }}" type="video/ogg">
                    </video>
                  </div>
                  <div class="pv-review-wrap">
                    <div class="profile-icon">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0020/7595/1156/files/p-icon.png?v=1678515495"
                        loading="lazy"
                        \>
                    </div>
                    <div class="review-content">
                      <p class="review">{{ pvData.review.value[i] }}</p>
                      <p class="name">{{ pvData.name.value[i] }}</p>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
{% schema %}
  {
    "name": "Product Videos",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "Product Videos",
        "settings": {}
      }
    ]
  }
{% endschema %}